{% extends 'pet_vet/base.html'%}
{% load static %}

{% block content %}

<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-primary">
        PetVet
      </h1>
      <h2 class="subtitle has-text-grey-dark">
        To jsou kvalitní zdravotnické služby pro Vaše mazlíčky
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <img src="{% static "pet_vet/img/cat.jpg" %}" alt="Spící zrzavá kočka">
  <div class="container">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
      temporibus totam tenetur suscipit corrupti illo aspernatur dignissimos
      consequatur fugit nam obcaecati, nobis nisi saepe, voluptate odio officia
      maiores. Dignissimos, itaque. Lorem ipsum dolor, sit amet consectetur
      adipisicing elit. Natus, iusto explicabo praesentium, corrupti id esse
      tempore fugit repudiandae delectus laboriosam eaque repellendus debitis?
      Aliquid accusantium in distinctio deleniti facilis inventore!
    </p>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title">
      Trápí Vašeho mazlíčka něco? Neváhejte a
      <a class="has-text-primary" href="{% url 'appointment-create' %}">
        <strong>sjednejte si u nás schůzku</strong>
      </a>!
    </h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae nostrum,
      dolorum tempora veniam libero aut obcaecati illo eaque! Nobis consequatur
      sint illum repudiandae possimus officiis inventore nulla non accusamus
      alias.
    </p>
  </div>
</section>

{% endblock %}